{% include 'header.html' %}
{% load static %}
<div class="container-cu">
    <div class="container-cu-left">
        <h1>Welcome to SamparkSetu</h1>
        <p class="cu-left-p-top">Welcome to SamparkSetu, your ultimate real estate solution. Whether you're looking to buy, rent, or sell property, we've got you covered. Our team is dedicated to helping you find the perfect location for your needs. Tap into our expertise and let us guide you on your real estate journey. Your satisfaction is our priority. Let's make your real estate dreams a reality.</p>
        <p class="cu-left-p-bottom"> Experience the difference with SamparkSetu. Your trusted partner in real estate.</p>
        <p class="cu-left-p-bottom">Contact us today and let's get started!</p>

    </div>
    <div class="container-cu-right">
        <img src="{% static 'house.png'%}">
    </div>
</div>

{% include 'footer.html' %}

