<div class="footer">
    <div class="footer-left-container">
        <div class="footer-top">
            <h1>Contact Us</h1>
        </div>
        <div class="footer-bottom">
            <p>Email: goregaon.sampark.setu@gmail.com</p>
            <p>Contact: +1 2146068314</p>
        </div>

    </div>
    <div class="footer-right-container">
        <div class="footer-top">
            <h1>Hours</h1>
        </div>
        <div class="footer-bottom">
            <p>Monday - Friday: 9am - 5pm</p>
            <p>Saturday: 9am - 1pm</p>
            <p>Sunday: Closed</p>
        </div>
    </div>
    <div class="footer-center-container">
        <p>Copyright &copy; 2024</p>
    </div>
</div>

</body>

</html>
