.nav-container{
background-clor: #ebecf0;
}

nav {
  &__dh_logo {
    background: linear-gradient(130deg, #4ce0e9 22.3%, #eb4693 84.96%),
      linear-gradient(220.6deg, #f5f7f8 8.29%, #e6e9ef 84.92%);
    padding: 1px;
  }

  &__search_input {
    box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #babecc;
    background: #ebecf0;
  }
}